[Desktop Entry]
Type=Application
Name=JetBrains Toolbox
Exec=/usr/bin/jetbrains-toolbox
Icon=/usr/share/pixmaps/jetbrains-toolbox.svg
StartupNotify=false
Categories=Development;IDE;
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-delay=30
StartupWMClass=jetbrains-toolbox
MimeType=x-scheme-handler/jetbrains;
