*~
.lock
mate-mint-menu/mint-translations/po-export/live-installer
mate-mint-menu/mint-translations/po-export/mintbackup
mate-mint-menu/mint-translations/po-export/mint-common
mate-mint-menu/mint-translations/po-export/mintdesktop
mate-mint-menu/mint-translations/po-export/mintdrivers
mate-mint-menu/mint-translations/po-export/mintinstall
mate-mint-menu/mint-translations/po-export/mintlocale
mate-mint-menu/mint-translations/po-export/mintnanny
mate-mint-menu/mint-translations/po-export/mintsources
mate-mint-menu/mint-translations/po-export/mintstick
mate-mint-menu/mint-translations/po-export/mintupdate
mate-mint-menu/mint-translations/po-export/mintupdate-debian
mate-mint-menu/mint-translations/po-export/mintupload
mate-mint-menu/mint-translations/po-export/mintwelcome
mate-mint-menu/mint-translations/po-export/slideshow-mint
mate-mint-menu/mint-translations/po-export/slideshow-mint-kde
mate-mint-menu/mint-translations/po-export/debian
mate-mint-menu/mint-translations/po-export/*.sh
mate-mint-menu/mint-translations/po-export/*.py
mate-mint-menu/mint-translations/po-export/*.glade
mate-mint-menu/mint-translations/po-export/*.md
mate-mint-menu/mint-translations/po-export/COPYING
.idea