pkgbase = scudcloud
	pkgdesc = A non official open-source Linux desktop client app for Slack.
	pkgver = 1.65
	pkgrel = 6
	url = https://github.com/raelgc/scudcloud
	arch = any
	groups = messaging
	license = MIT
	depends = python-setuptools
	depends = python-dbus
	depends = python-pyqt5
	depends = python-jsmin
	depends = hunspell-en_US
	depends = qt5-webkit
	source = https://github.com/raelgc/scudcloud/archive/v1.65.tar.gz
	md5sums = 44c5994e93a3329a15c8a6440a4fd25c

pkgname = scudcloud

