pkgbase = vivaldi
	pkgdesc = An advanced browser made with the power user in mind.
	pkgver = 2.1.1337.36
	pkgrel = 2
	url = https://vivaldi.com
	arch = x86_64
	groups = browser
	license = custom
	license = LGPL2.1
	makedepends = w3m
	makedepends = libexif
	makedepends = libpulse
	makedepends = libxss
	makedepends = ninja
	makedepends = pciutils
	makedepends = python2
	makedepends = xdg-utils
	makedepends = nodejs
	makedepends = opus
	makedepends = gperf
	makedepends = yasm
	makedepends = mesa
	makedepends = harfbuzz-icu
	makedepends = libwebp
	makedepends = libxslt
	makedepends = libxml2
	makedepends = re2
	makedepends = minizip
	makedepends = snappy
	makedepends = clang
	makedepends = lld
	depends = gtk3
	depends = nss
	depends = libxtst
	depends = gconf
	depends = libxss
	depends = freetype2
	depends = ttf-font
	depends = nspr
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = alsa-lib
	depends = hicolor-icon-theme
	depends = flac
	depends = ffmpeg
	depends = fontconfig
	depends = icu
	depends = opus
	depends = minizip
	depends = libxml2
	depends = harfbuzz
	depends = libxslt
	depends = freetype2
	depends = re2
	depends = libwebp
	depends = libjpeg
	depends = snappy
	provides = vivaldi-ffmpeg-codecs
	provides = vivaldi-widevine
	conflicts = vivaldi-ffmpeg-codecs
	conflicts = vivaldi-widevine
	replaces = vivaldi-ffmpeg-codecs
	replaces = vivaldi-widevine
	noextract = chrome.rpm
	options = !strip
	options = !zipman
	source = https://downloads.vivaldi.com/stable/vivaldi-stable-2.1.1337.36-1.x86_64.rpm
	source = https://commondatastorage.googleapis.com/chromium-browser-official/chromium-70.0.3538.77.tar.xz
	source = chrome.rpm::https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
	source = chrome-eula_text.html::https://www.google.com/intl/en/chrome/browser/privacy/eula_text.html
	source = include-stdint.h-in-pdfium_mem_buffer_file_write.h.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/include-stdint.h-in-pdfium_mem_buffer_file_write.h.patch?h=packages/chromium
	source = chromium-harfbuzz-r0.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/chromium-harfbuzz-r0.patch?h=packages/chromium
	source = chromium-widevine-r2.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/chromium-widevine-r2.patch?h=packages/chromium
	source = chromium-system-icu.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/chromium-system-icu.patch?h=packages/chromium
	source = chromium-skia-harmony.patch::https://git.archlinux.org/svntogit/packages.git/plain/trunk/chromium-skia-harmony.patch?h=packages/chromium
	md5sums = 3839ee739791023c227d88ec2be54b32
	md5sums = a246a9c95308d8918db963731e553e70
	md5sums = 9cb1cfda43025a85d4826d7358ed0284
	md5sums = 253fd2d60c6a9348a13f06a819a14906
	md5sums = 6a9fd8e67d1cc37be22e79662668128a
	md5sums = 2c394971c9d86d3184b6e50f1195b794
	md5sums = 56ebefbdfafb2d7ede199a4257d514d4
	md5sums = caff61182595798a5c00913cb5ed9355
	md5sums = 254061cb349cff714230b7cca83b0a4c

pkgname = vivaldi

