pkgbase = icecat
	pkgdesc = GNU version of the Firefox browser.
	pkgver = 52.6.0
	pkgrel = 1
	url = http://www.gnu.org/software/gnuzilla/
	install = icecat.install
	arch = x86_64
	groups = browser
	license = GPL
	license = MPL
	license = LGPL
	depends = gtk2
	depends = mozilla-common
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus-glib
	depends = alsa-lib
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = libvpx
	depends = icu
	depends = libevent
	depends = nss
	depends = hunspell
	depends = sqlite
	depends = pango
	depends = freetype2
	depends = libxft
	depends = libx11
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = gst-plugins-good: h.264 video
	optdepends = gst-libav: h.264 video
	optdepends = upower: Battery API
	source = icecat.desktop
	source = icecat-safe.desktop
	source = vendor.js
	md5sums = e81ad01dbc16ba28bf92ba4b7c309ca7
	md5sums = d93fe402b87cd000a869e1fd6badc6c9
	md5sums = 0d053487907de4376d67d8f499c5502b
	source_x86_64 = https://mirrors.kernel.org/gnu/gnuzilla/52.6.0/icecat-52.6.0.en-US.gnulinux-x86_64.tar.bz2
	md5sums_x86_64 = 97994d4a7562e51e4ede1b64f6dc95b3

pkgname = icecat

