[Unit]
Description=MDM Display Manager
Documentation=man:mdm(1)
Conflicts=getty@tty1.service
After=systemd-user-sessions.service getty@tty1.service

[Service]
ExecStart=/usr/sbin/mdm --nodaemon
ExecReload=/usr/sbin/mdm-restart
ExecStop=/usr/sbin/mdm-stop
StandardOutput=syslog
Restart=always
RestartSec=1s
TimeoutStopSec=5s
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
