pkgbase = opera-developer
	pkgdesc = A fast and secure web browser and Internet suite - developer stream
	pkgver = 27.0.1689.22
	pkgrel = 1
	url = http://www.opera.com/browser/
	install = opera.install
	arch = x86_64
	license = custom:opera
	depends = alsa-lib
	depends = nss
	depends = gtk2
	depends = gconf
	depends = libxss
	depends = libxtst
	depends = desktop-file-utils
	optdepends = ffmpeg: HTML5 H264 and mp3 playback
	options = !strip

pkgname = opera-developer

