pkgbase = mate-tweak
	pkgdesc = Tweak tool for MATE
	pkgver = 18.04.16
	pkgrel = 1
	url = https://github.com/ubuntu-mate/mate-tweak
	arch = any
	license = GPL
	makedepends = python-distutils-extra
	makedepends = python-setuptools
	depends = gtk3
	depends = libnotify
	depends = mate-applets
	depends = python-configobj
	depends = python-gobject
	depends = python-psutil
	depends = python-setproctitle
	depends = mate-common
	optdepends = mate-applet-dock: for Mutiny panel layout
	optdepends = mate-netbook: for Netbook panel layout
	optdepends = plank: for Cupertino panel layout
	optdepends = synapse: to enable launcher
	optdepends = tilda: to enable pull-down terminal
	optdepends = topmenu-gtk: for Mutiny panel layout
	source = mate-tweak-18.04.16.tar.gz::https://github.com/ubuntu-mate/mate-tweak/archive/18.04.16.tar.gz
	source = https://launchpad.net/ubuntu/+archive/primary/+files/ubuntu-mate-settings_18.04.17.tar.xz
	md5sums = 4cfc6ee6c78ea9efddd84b1dddfcddae
	md5sums = d9cee49b44737bab5235679f5798a352

pkgname = mate-tweak

