<!DOCTYPE html>
<html lang='en'>
<head>
<title>aur.git - AUR Package Repositories</title>
<meta name='generator' content='cgit v1.2.1-2-g66f5'/>
<meta name='robots' content='index, nofollow'/>
<link rel='stylesheet' type='text/css' href='/css/cgit.css'/>
<link rel='shortcut icon' href='/images/favicon.ico'/>
<link rel='vcs-git' href='https://aur.archlinux.org/(null).git/' title='aur.git Git repository'/>
</head>
<body>
		<div id="archnavbar" class="anb-aur">
			<div id="archnavbarlogo"><h1><a href="/" title="Return to the main page">Arch Linux User Repository</a></h1></div>
			<div id="archnavbarmenu">
				<ul id="archnavbarlist">
					<li id="anb-home"><a href="https://www.archlinux.org/" title="Arch news, packages, projects and more">Home</a></li>
					<li id="anb-packages"><a href="https://www.archlinux.org/packages/" title="Arch Package Database">Packages</a></li>
					<li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">Forums</a></li>
					<li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">Wiki</a></li>
					<li id="anb-bugs"><a href="https://bugs.archlinux.org/" title="Report and track bugs">Bugs</a></li>
					<li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux Security Tracker">Security</a></li>
					<li id="anb-aur"><a href="/" title="Arch Linux User Repository">AUR</a></li>
					<li id="anb-download"><a href="https://www.archlinux.org/download/" title="Get Arch Linux">Download</a></li>
				</ul>
			</div>
		</div><!-- #archnavbar -->
<div id='cgit'><table id='header'>
<tr>
<td class='main'>AUR</td></tr>
<tr><td class='sub'>AUR Package Repositories</td></tr></table>
<table class='tabs'><tr><td>
<a href='/cgit/aur.git/about/'>about</a><a href='/cgit/aur.git/'>summary</a><a href='/cgit/aur.git/log/'>log</a><a href='/cgit/aur.git/tree/'>tree</a><a href='/cgit/aur.git/commit/'>commit</a><a href='/cgit/aur.git/diff/'>diff</a><a href='/cgit/aur.git/stats/'>stats</a></td><td class='form'><form class='right' method='get' action='/cgit/aur.git/log/'>
<select name='qt'>
<option value='grep'>log msg</option>
<option value='author'>author</option>
<option value='committer'>committer</option>
<option value='range'>range</option>
</select>
<input class='txt' type='search' size='10' name='q' value=''/>
<input type='submit' value='search'/>
</form>
</td></tr></table>
<div class='content'><div class='error'>Repository seems to be empty</div>
</div> <!-- class=content -->
<div id="footer">
	<p>
		Copyright &copy; 2004-2018 aurweb Development Team &ndash;
		<strong>AUR packages are user produced content. Any use of the provided files is at your own risk.</strong>
	</p>
</div>
</div> <!-- id=cgit -->
</body>
</html>
